p {
    word-break: keep-all;
}

a {
    color: inherit;
}

.Wrap {}

.header {
    position: relative;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    line-height: 100px;
    /* color: #fff; */
    /* background: rgba(0, 0, 0, 0.5); */

    /* z-index: 999; */
    /* transition: 0.3s; */
}

/* .header.on {
    line-height: 80px;
    background: #fff;
    color: #444;
    border-bottom: 1px solid #ddd;
} */

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .inner h1 {
    font-size: 0;
}

.header .inner h1 a {
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/logo03.png) no-repeat -5px center/contain;
    /* transition: 0.3s; */
}

/* .header.on .inner h1 a {
    height: 80px;
    background: url(../img/logo03.png) no-repeat center/contain;
} */


.header .inner .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    height: 0;
    background: #fff;

    transition: 0.3s;
    z-index: 999;
}

/* .header.on .inner .gnb::before {
    top: 80px;
    background: #fff;
    border-bottom: 1px solid #ddd;
} */

.header .inner .gnb:hover::before {
    height: 200px;
}

.header .inner .gnb>ul {
    display: flex;
}

.header .inner .gnb>ul>li {
    position: relative;
    flex: 1;
}

.header .inner .gnb>ul>li>a {
    display: block;
    padding: 0 30px;
    font-size: 18px;
}

.header .gnb .s_menu {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    transform: translate(-50%, 0);

    height: 0;
    transition: 0.3s;
    overflow: hidden;
    z-index: 999;
}

/* .header.on .gnb .s_menu {
    top: 80px;
    color: #444;
} */

.header .gnb:hover .s_menu {
    height: 220px;
}

.header .gnb .s_menu>li>a {
    display: block;
    font-size: 14px;
}

.header .gnb .s_menu>li>a:hover {
    color: #333;
    background: #ddd;
}

.header .inner .h_icon i {
    font-size: 20px;
    cursor: pointer;
}

.mainVisual {
    position: relative;
}

.mainVisual .swiper-slide {
    height: 90vh;
}

.mainVisual .text_box figure img {
    width: 300px;
}

.mainVisual .itm01 {
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;
}

.mainVisual .itm03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;
}

.mainVisual .itm01 .text_box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    padding: 0 15px;
    text-align: center;
}

.mainVisual .itm01 .text_box figure {
    margin: 0 0 20px 0;
}

/* .mainVisual .itm01 .text_box figure:nth-child(1) {
    transform: translate(0, -50px);
    transition: 0.5s 1s;
}

.mainVisual .itm01.on .text_box figure:nth-child(1) {
    transform: translate(0, 0);
    opacity: 1;
}

.mainVisual .itm01 .text_box figure:nth-child(1)~* {
    transform: translate(0, 50px);
    transition: 0.5s 1.5s;
}

.mainVisual .itm01.on .text_box figure:nth-child(1)~* {
    transform: translate(0, 0);
    opacity: 1;
} */

.mainVisual .itm01 .text_box p {
    font-size: 18px;
    color: #000;
}

.mainVisual .itm02 .text_box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.mainVisual .itm02 .text_box figure {
    margin: 0 0 20px 0;
    text-align: left;
}

/* .mainVisual .itm02 .text_box figure {
    transform: translate(-100px, 0);
    transition: 0.5s 1s;
}

.mainVisual .itm02.on .text_box figure {
    transform: translate(0, 0);
    opacity: 1;
}

.mainVisual .itm02 .text_box figure~figure {
    transform: translate(0, 50px);
    transition: 0.5s 1.5s;
}

.mainVisual .itm02.on .text_box figure~figure {
    transform: translate(0, 0);
    opacity: 1;
} */

.mainVisual .itm03 .text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    padding: 0 15px;
    text-align: center;
}

.mainVisual .itm03 .text_box figure {
    margin: 0 0 20px 0;
    text-align: left;
}

/* .mainVisual .itm03 .text_box figure {
    transform: translate(-100px, 0);
    transition: 0.5s 1s;
}

.mainVisual .itm03.on .text_box figure {
    transform: translate(0, 0);
    opacity: 1;
}

.mainVisual .itm03 .text_box figure~figure {
    transform: translate(0, 50px);
    transition: 0.5s 1.5s;
}

.mainVisual .itm03.on .text_box figure~figure {
    transform: translate(0, 0);
    opacity: 1;
} */

.mainVisual .scroll_down {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 999;
    animation: scroll_down 1.5s infinite;
    cursor: pointer;
}

@keyframes scroll_down {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 20px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.mainVisual .scroll_down i {
    font-size: 30px;
    color: #fff;
}

.swiper-pagination {
    position: absolute;
    top: 95%;
    height: 10px;
}

.swiper-pagination .bb {
    display: inline-block;
    width: 100px;
    height: 10px;
    border-radius: 0px;
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}








.mainProduct {
    padding: 100px 0;
}

.mainProduct .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

.mainProduct .tit {
    position: relative;
    padding: 40px 0 0 0;
    width: 262.5px;
}

.mainProduct .tit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
}

.mainProduct .tit h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.mainProduct .tit b {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.mainProduct .tit p {
    font-size: 14px;
    line-height: 24px;
}

.mainProduct .tab_wrap {
    width: 75%
}

.mainProduct .tab_wrap .tab_select {
    display: flex;
    gap: 1px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 40px 0;
}

.mainProduct .tab_wrap .tab_select>li {
    flex: 1;
}

.mainProduct .tab_select li>a {
    display: block;
    padding: 20px 0;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 500;
}

.mainProduct .tab_select li.on>a {
    background: #444;
    color: #fff;
}

.mainProduct .tab li {
    display: none;
}

.mainProduct .tab li.on {
    display: block;
}

.mainProduct .tab .case {
    display: flex;
    gap: 30px;
}

.mainProduct .tab .case>figure {
    flex: 1;
    height: 350px;
}

.mainProduct .tab .case>figure>img {
    width: 100%;
    height: 100%;
}

.mainProduct .tab .case>.text {
    flex: 1;
}

.mainProduct .tab .case>.text h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 40px 0;
    padding: 5px 0 0 0;
}

.mainProduct .tab .case ul {
    margin: 0 0 20px 0;
}

.mainProduct .tab .case ul>li {
    display: flex;
    gap: 30px;
    border-top: 1px solid #ddd;
    line-height: 40px;
    align-items: center;
}

.mainProduct .tab .case ul>li~li {
    border-bottom: 1px solid #ddd;
}

.mainProduct .tab .case ul>li b {
    font-weight: 500;
    padding: 0 10px;
    background: #f4f4f4;
    width: 150px;
    text-align: center;
}

.mainProduct .tab .case ul>li p {
    font-size: 15px;
}


.mainProduct .tab .case span {
    display: block;
    text-align: right;
}

.mainProduct .tab .case a {
    display: inline-block;
    padding: 10px 20px;
    background: #444;
    color: #fff;
    font-size: 14px;
}





.mainProject {
    padding: 100px 0;
    background: #f9f9f9;
}

.mainProject .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

.mainProject .inner .tit {
    position: relative;
    width: 262.5px;
    padding: 40px 0 0 0;
}

.mainProject .inner .tit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
}

.mainProject .inner .tit h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.mainProject .inner .tit b {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.mainProject .inner .tit p {
    font-size: 14px;
    line-height: 24px;
}

.mainProject .inner .project {
    width: 75%;
    margin: 0 0 0 auto;
    display: flex;
    gap: 30px;
}

.mainProject .inner .project .text {
    background: #555;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.mainProject .inner .project .text b {
    display: block;
    margin: 0 0 5px 0;
    font-weight: 500;
}

.mainProject .inner .project .text p {
    font-size: 14px;
}

.mainProject .inner .project .itm figure {
    filter: grayscale(1);
}

.mainProject .inner .project .itm:hover figure {
    filter: grayscale(0);
}

.mainNews {
    padding: 100px 0;
}

.mainNews .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mainNews .inner .tit {
    position: relative;
    width: 262.5px;
    padding: 40px 0 0 0;
}

.mainNews .inner .tit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
}

.mainNews .inner .tit h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.mainNews .inner .tit b {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.mainNews .inner .tit p {
    font-size: 14px;
    line-height: 24px;
}

.mainNews .inner .notice {
    width: 75%;
    margin: 0 0 0 auto;
}

.mainNews .inner .notice strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid #444;
}

.mainNews .inner .notice li {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #444;
    align-items: center;
}

.mainNews .inner .notice li a {
    max-width: 60%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainNews .inner .notice li p {
    font-size: 14px;

}

.footer {
    padding: 50px 0 60px 0;
    background: #252222;
}

.footer .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .inner>a {
    width: 262.5px;
    margin: 0 30px 0 0;
}

.footer .inner .desc p {
    font-size: 13px;
    color: #ddd;
    line-height: 23px;
}

.footer .inner>ul {
    display: flex;
    margin: 0 0 0 auto;
    gap: 30px;
    font-size: 13px;
    color: #ddd;
    line-height: 23px;
}

.footer .inner>ul li>a {
    position: relative;
}

.footer .inner>ul li~li>a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);

    width: 1px;
    height: 10px;
    background: #ddd;
}

.footer .inner>ul li.bold {
    font-size: 14px;
    font-weight: 700;
}

.sideMenu {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 100px;
    height: 360px;
    background: #fff;
    z-index: 999;
    transition: 0.3s;
}

.sideMenu.on {
    right: -100px;
}

.sideMenu>ul {
    border: 1px solid #ddd;
    border-right: none;
}

.sideMenu>ul>li {
    padding: 20px 0;
    height: 90px;
    text-align: center;
    font-size: 13px;
    align-items: center;
}

.sideMenu>ul>li~li {
    border-top: 1px solid #ddd;
}

.sideMenu>ul>li figure {
    margin: 0 0 10px 0;
}

.sideMenu>ul>li span {
    display: block;

}

.sideMenu button {
    position: absolute;
    top: 0;
    left: -40px;
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.sideMenu button::before {
    content: "\e93e";
    font-family: xeicon;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background: #000;
}

.sideMenu.on button::before {
    content: "\e93b";
}

.sideMenu .menu_control button {
    border: none;
    background: none;
}

.toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #666;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.toTop a {
    display: block;
    padding: 10px;
}

.toTop a i {
    font-size: 30px;
    color: #fff;
}

.toTop.on {
    visibility: visible;
    opacity: 1;
}




.sub .sub_head {
    position: relative;
    height: 450px;

}

.sub .sub_head.bg01 {
    background: url(../img/sub01_visual.jpg) no-repeat center center/cover;
}

.sub .sub_head.bg02 {
    background: url(../img/sub02_visual.jpg)no-repeat center center/cover;
}

.sub .sub_head.bg03 {
    background: url(../img/sub03_visual.jpg)no-repeat center center/cover;
}

.sub .sub_head::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.sub .sub_head .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    color: #fff;
}

.sub .sub_head .inner h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-shadow: 0 0 2px #000;
}

.sub .sub_head .inner p {
    width: 500px;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
}

.sub .sub_nav {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.sub .sub_nav .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sub .sub_nav .inner>div~div {
    border-right: 1px solid #ddd;
    width: 250px;
    font-size: 18px;
    font-weight: 500;
}

.sub .sub_nav .inner .home {
    width: 52px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 30px;
    text-align: center;
}

.sub .sub_nav .inner .home a {
    display: block;
}

.sub .sub_nav .inner .s_mn {}

.sub .sub_nav .inner .s_mn>ul>li {
    position: relative;
}

.sub .sub_nav .inner .s_mn>ul>li::before {
    content: "\e941";
    font-family: xeicon;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}

.sub .sub_nav .inner .s_mn>ul>li.on::before {
    content: "\e944";
}

.sub .sub_nav .inner .s_mn>ul>li.on {}

.sub .sub_nav .inner .s_mn>ul>li .s_menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    display: none;
    background: #fff;

    z-index: 999;
}

.sub .sub_nav .inner .s_mn>ul>li.on .s_menu {
    display: block;
}

.sub .sub_nav .inner .s_mn>ul>li .s_menu>li {
    border: 1px solid #ddd;
    border-top: none;
}

.sub .sub_nav .inner .s_mn>ul>li .s_menu>li:first-child {
    border-top: 1px solid #ddd;
}

.sub .sub_nav .inner .s_mn>ul>li .s_menu a {
    display: block;
}

.sub .sub_nav .inner .s_mn a {
    display: block;
    padding: 0 20px;
}



.sub .sub_nav .inner .s_sn {}

.sub .sub_nav .inner .s_sn>ul>li {
    position: relative;
}

.sub .sub_nav .inner .s_sn>ul>li::before {
    content: "\e941";
    font-family: xeicon;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}

.sub .sub_nav .inner .s_sn>ul>li.on::before {
    content: "\e944";
}

.sub .sub_nav .inner .s_sn>ul>li .s_menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    display: none;

    background: #fff;
    z-index: 999;
}

.sub .sub_nav .inner .s_sn>ul>li.on .s_menu {
    display: block;
}

.sub .sub_nav .inner .s_sn>ul>li .s_menu>li {
    border: 1px solid #ddd;
    border-top: none;
}

.sub .sub_nav .inner .s_sn>ul>li .s_menu>li.bg {
    background: #444;
    color: #fff;
}

.sub .sub_nav .inner .s_sn>ul>li .s_menu>li:first-child {
    border-top: 1px solid #ddd;
}

.sub .sub_nav .inner .s_sn>ul>li .s_menu a {
    display: block;
}

.sub .sub_nav .inner .s_sn a {
    display: block;
    padding: 0 20px;
}

.article .info {
    padding: 100px 0;
    text-align: center;
}

.article .info h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .info .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .info .inner figure {
    width: 100%;
    height: 400px;
    margin: 0 0 40px 0;
}

.article .info .inner figure img {
    width: 100%;
    height: 100%;
}

.article .info .text {
    text-align: center;
    word-break: keep-all;
    padding: 0 200px;
}

.article .info .text strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.article .info .text p {
    line-height: 24px;
    margin: 0 0 40px 0;
}

.article .info .text b {
    display: block;
    line-height: 24px;
}

.article .info .text .bold {
    font-size: 20px;
    font-weight: 700;
}

.article .info_02 {
    padding: 100px 0;
}

.article .info_02 h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .info_02 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .info_02 .inner figure {
    text-align: center;
    width: 100%;
}

.article .info_02 .inner figure img {
    width: 100%;
    height: 100%;
}

.article .info_03 {
    padding: 100px 0;
}

.article .info_03 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .info_03 h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .info_03 .tab_btn {
    display: flex;
    gap: 1px;
    margin: 0 0 40px 0;
}

.article .info_03 .tab_btn>li {
    flex: 1;

}

.article .info_03 .tab_btn>li>a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
}

.article .info_03 .tab_btn>li.on>a {
    background: #555;
    color: #fff;
}

.article .info_03 .tab_itm {
    position: relative;
}

.article .info_03 .tab_itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: -50%, 0;
    width: 1px;
    height: 100%;
    border-left: 1px dotted #000;
}

.article .info_03 .tab_itm>li {
    display: none;
}

.article .info_03 .tab_itm>li.on {
    display: block;
}

.article .info_03 .tab_itm>li>dl:nth-child(odd) {
    position: relative;
    padding-right: calc(50% + 50px);
    text-align: right;
}

.article .info_03 .tab_itm>li>dl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    background: #fff;
    border: 7px solid #666;
    border-radius: 50%;
}

.article .info_03 .tab_itm>li>dl:nth-child(even) {
    position: relative;
    padding-left: calc(50% + 50px);

}

.article .info_03 .tab_itm>li>dl {
    margin: 0 0 40px 0;
}

.article .info_03 .tab_itm>li>dl>dt {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #000;
}

.article .info_03 .tab_itm>li>dl>dd {
    font-size: 14px;
    line-height: 22px;
}

.article .info_04 {
    padding: 100px 0;
}

.article .info_04 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.article .info_04 .inner h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.article .info_04 .inner img {
    width: 100%;
}

.article .info_04 .inner .itm01 {
    margin: 0 0 30px 0;
}

.article .info_05 {
    padding: 100px 0;
}

.article .info_05 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.article .info_05 .inner h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.article .info_05 .inner figure {
    margin: 0 0 30px 0;
}

.article .info_05 .inner figure>img {
    width: 100%;
}

.article .info_05 .inner .map_info {
    padding: 30px;
    text-align: left;
    border: 1px solid #ddd;
    border-top: none;
}

.article .info_05 .inner .map_info li {
    display: flex;
    gap: 10px;
    line-height: 30px;
    padding: 5px 0;
}

.article .info_05 .inner .map_info strong {
    font-size: 20px;
    font-weight: 500;
}

.article .info_05 .inner .map_info span {
    font-size: 14px;
}

.article .sub_content {
    padding: 100px 0;
}

.article .sub_content .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .sub_content .inner h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .sub_content .tab_content {
    margin: 0 0 20px 0;
}

.article .sub_content .tab_btn {
    display: flex;
    gap: 1px;
    margin: 0 0 40px 0;
}

.article .sub_content .tab_btn>li {
    flex: 1;
}

.article .sub_content .tab_btn>li a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
}

.article .sub_content .tab_btn>li.on a {
    background: #555;
    color: #fff;
}

.article .sub_content .tab_itms>li {
    display: none;
}

.article .sub_content .tab_itms>li.on {
    display: block;
}

.article .sub_content .tab_itms .itm {
    display: flex;
    flex-wrap: wrap;
}

.article .sub_content .tab_itms .itm>li {
    width: 50%;
    border: 1px solid #ddd;
    height: 115px;
    padding: 20px;
}

.article .sub_content .tab_itms .itm>li .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.article .sub_content .tab_itms .itm>li p {
    font-weight: 500;
}

.article .sub_content .tab_itms .itm>li .link>* {
    padding: 4px 0;
}

.article .sub_content .tab_itms .itm>li .link>a:hover {
    text-decoration: underline #444;
}

.article .sub_content .inner>strong {
    font-size: 20px;
    font-weight: 700;
}

.article .sub_content02 {
    padding: 100px 0;
}

.article .sub_content02 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .sub_content02 h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .sub_content02 .tab_select {
    display: flex;
    gap: 1px;
    margin: 0 0 40px 0;
}

.article .sub_content02 .tab_select>li {
    flex: 1;
}

.article .sub_content02 .tab_select>li a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
}

.article .sub_content02 .tab_select>li.on a {
    background: #555;
    color: #fff;
}

.article .sub_content02 .tab_itm {
    display: none;
}

.article .sub_content02 .tab_itm.on {
    display: block;
}

.article .sub_content02 .itm {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.article .sub_content02 .tab_itm .left {
    flex: 4;
}

.article .sub_content02 .tab_itm .left figure {
    position: relative;
    height: 350px;
}

.article .sub_content02 .tab_itm .left figure img {
    width: 100%;
    height: 100%;
}

.article .sub_content02 .tab_itm .left figure span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    font-size: 13px;
}

.article .sub_content02 .tab_itm .left img {
    height: 100%;
}

.article .sub_content02 .tab_itm .right {
    flex: 6;
}

.article .sub_content02 .tab_itm .right h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 40px 0;
    padding: 5px 0 0 0;
}

.article .sub_content02 .tab_itm .right ul {
    margin: 0 0 10px 0;
}

.article .sub_content02 .tab_itm .right li {
    display: flex;
    gap: 30px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    align-items: center;
}

.article .sub_content02 .tab_itm .right li:last-child {
    border-bottom: 1px solid #ddd;
}

.article .sub_content02 .tab_itm .right li b {
    width: 150px;
    font-weight: 500;
    padding: 0 20px;
    background: #f4f4f4;
    text-align: center;
}

.article .sub_content02 .tab_itm .right li p {
    font-size: 15px;
}

.article .sub_content02 .tab_itm .right span {
    display: block;
    text-align: right;
}

.article .sub_content02 .tab_itm .right span a {
    display: inline-block;
    padding: 10px 20px;
    background: #444;
    color: #fff;
    font-size: 14px;
}

.article .sub_content02 .tab_itm em {
    display: block;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

.article .sub_content03 {
    padding: 100px 0;
}

.article .sub_content03 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.article .sub_content03 h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.article .sub_content03 .subcon03_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.article .sub_content03 .subcon03_wrap>li {
    width: calc(50% - 15px);
    padding: 20px;
    border: 1px solid #ddd;
}

.article .sub_content03 .subcon03_wrap figure {
    width: 100%;
    height: 350px;
    margin: 0 0 20px 0;
}

.article .sub_content03 .subcon03_wrap figure img {
    width: 100%;
    height: 100%;
}

.article .sub_content03 .subcon03_wrap h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.article .sub_content03 .subcon03_wrap ul {
    margin: 0 0 20px 0;
}

.article .sub_content03 .subcon03_wrap ul>li {
    display: flex;
    gap: 20px;
    line-height: 40px;
    align-items: center;
    border-top: 1px solid #ddd;
}

.article .sub_content03 .subcon03_wrap ul>li:last-child {
    border-bottom: 1px solid #ddd;
}

.article .sub_content03 .subcon03_wrap ul>li b {
    width: 150px;
    font-weight: 500;
    text-align: center;
    background: #f4f4f4;
}

.article .sub_content03 .subcon03_wrap ul>li p {
    font-size: 15px;
}

.article .sub_content03 .subcon03_wrap>li span {
    display: block;
    text-align: right;
}

.article .sub_content03 .subcon03_wrap>li span a {
    font-size: 13px;
    background: #000;
    padding: 7px 15px 6px 15px;
    color: #fff;
}

.sub_content04 {
    padding: 100px 0;
}

.sub_content04 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sub_content04 .inner h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.sub_content04 .sub04_wrap>li {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.sub_content04 .sub04_wrap>li figure {
    position: relative;
    flex: 4;
}

.sub_content04 .sub04_wrap>li figure span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    font-size: 13px;
}

.sub_content04 .sub04_wrap>li .desc {
    flex: 6;
}

.sub_content04 .desc h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 40px 0;
    padding: 5px 0 0 0;
}

.sub_content04 .desc li {
    display: flex;
    gap: 30px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    align-items: center;
}

.sub_content04 .desc li:last-child {
    border-bottom: 1px solid #ddd;
}

.sub_content04 .desc li b {
    width: 150px;
    padding: 0 20px;
    background: #f4f4f4;
    text-align: center;
    font-weight: 500;
}

.sub_content04 .desc li p {
    font-size: 15px;
}

.business01 {
    padding: 100px 0;
}

.business01 .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.business01 .inner h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 40px 0;
}

.business01 .tab_select {
    display: flex;
    gap: 1px;
    margin: 0 0 40px 0;
}

.business01 .tab_select>li {
    flex: 1;
    border: 1px solid #ddd;
    text-align: center;
}

.business01 .tab_select>li.on {
    background: #444;
    color: #fff;
}

.business01 .tab_select>li>a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.business01 .tab_content>li {
    display: none;
}

.business01 .tab_content>li.on {
    display: block;
}

.business01 .case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.business01 .case>.itm {
    width: calc(33.33% - 20px)
}

.business01 .itm>figure {
    position: relative;
    margin: 0 0 15px 0;
    height: 250px;
}

.business01 .itm>figure:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.business01 .case figure img {
    width: 100%;
    height: 100%;
}

.business01 figure .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 50%);

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    z-index: 999;
}

.business01 figure:hover .desc {
    visibility: visible;
    opacity: 1;

    transform: translate(-50%, -50%);
}

.business01 .desc dl {
    display: flex;
    flex-wrap: wrap;
}

.business01 .desc dl dt {
    width: 50%;
    text-align: center;
    padding: 10px 15px;
    background: #f4f4f4;
    font-weight: 500;
    font-size: 16px;
}

.business01 .desc dl dd {
    width: 50%;
    text-align: center;
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
}

.business01 .itm strong {
    display: block;
    text-align: center;
    font-weight: 500;
}